pytest==3.5.1
pytest-cov==2.5.1
pytest-flake8==1.0.1
mock==2.0.0
requests-mock==1.4.0
httplib2==0.11.3
six==1.11.0
coverage>4.0,<4.4  # pyup: >4.0,<4.4 # https://bitbucket.org/ned/coveragepy/issues/578/incomplete-file-path-in-xml-report
codeclimate-test-reporter==0.2.3